# ElasticBeanstalk configs

# local_settings
local_settings.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
# *.egg-info/
.installed.cfg
*.egg
*.swp
build/*
dist/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Merge Artifacts
*.orig

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.pot

#Eclipse
.settings

# PyDev
.pydevproject

# PyCharm
.idea
.idea/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

media/*

categorizer/data/*

qa/web/log/*
qa/web/firefox_profile/*
notebooks/.ipynb_checkpoints/
